<div class="container">
<p id="notice"><%= notice %></p>
<% @products.in_groups_of(3, false).each do |group| %>
  <div class='row'>
    <% group.each do |product| %>
      <div class='col-md-4'>
        
        <%= link_to product_path(product) do %>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <% end %>
        <h3><%= product.title %></h3>
        <div><%= sanitize(product.description) %></div>
        <div><%= number_to_currency(product.price) %></div> 
        <%= button_to 'Add to Cart', class: 'btn btn-info btn-sm'%>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to 'New Product', new_product_path %>
