<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <<title>Shopping</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "style" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="page-top" class="index">
   <%= render "layouts/header" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render "layouts/footer" %>
  </body>
</html>